body {
    background-color: whitesmoke;
}

h1 {
    color: dodgerblue;
    font-family: verdana;
    font-size: 300%;
}

p {
    color: tomato;
    font-family: courier;
    font-size: 160%;
    border: 2px solid powderblue;
    /* border控制边框 */
    padding: 30px;
    /* padding控制文本与边框之间的空格 */
    margin: 50px;
    /* margin定义边框的边距 */
}

a:link,
a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    margin: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: red;
}

/* link链接未访问样式，visited链接访问后样式，hover鼠标悬浮样式，active点击时样式 */
#para1 {
    text-align: center;
    color: red;
}

.center {
    text-align: center;
    color: red;
}

p.center {
    text-align: center;
    color: red;
}

p.large {
    font-size: large;
}

* {
    background: linen;
}

/* This is a single-line comment */

.h1 {
    color: white;
}